body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.date-time-container {
    text-align: center;
    margin-bottom: 20px;
}

.date-display {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

.time-display {
    font-size: 24px;
    color: #555;
}

.link-center {
    font-size: 18px;
    text-decoration: none;
    color: blue;
    border: 2px solid blue;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.link-center:hover {
    background-color: blue;
    color: white;
}
